.caw-layout--two-column {
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.caw-two-column--33-67 {
  grid-template-columns: 33% 67%;
}

.caw-two-column--67-33 {
  grid-template-columns: 67% 33%;
}

.jumpstart-ui--one-column .caw-layout--two-column {
  width: calc(100% - 200px);
}
